@use "variables" as *;

.feature {
    background: $blue;
    padding: 16px 32px;
}
.feature-company {
    margin: 0;
    color: $green;
    font-size: 12px;
}
.feature-tag {
    margin-right: 8px;
    font-size: 12px;
}
.feature-title {
    font-size: 28px;
    margin-bottom: 0;
}
.feature-desc {
    font-size: 14px;
}