/* Styles for landing page */
@use "variables" as *;

.contact-link {
    fill: $text-color;
    margin-right: 32px;
}

#view-more {
    font-size: 12px;
    line-height: 36px;
    display: inline-block;
    vertical-align: top;
    color: $green;
    text-decoration: none;
    font-weight: 400;
}