/* Styles for landing page */
@use "variables" as *;

.contact-link {
    fill: $text-color;
    margin-right: 32px;
}

#view-more {
    font-size: 12px;
    line-height: 36px;
    display: inline-block;
    vertical-align: top;
    color: $green;
    text-decoration: none;
    font-weight: 400;
}

.moving-arrow {
    animation: none;
    display: inline-block;
}
a:hover .moving-arrow{
    animation: float 1s infinite;
}
@keyframes float {
    0% {
        margin-left: 0px;
    }
    50% {
        margin-left: 8px;
    }
    100% {
        margin-left: 0px;
    }
}

.built-by {
    color: white;
    text-decoration: none;
}
.built-by:hover {
    color: $green;
}
